@import 'parts/reset';
@import 'parts/fonts';
@import 'parts/variables';
@import 'parts/mixins';
@import 'parts/grid';
@import 'parts/core';
@import 'parts/modal';
@import 'parts/buttons';
@import 'parts/navbar';
@import 'parts/map';
@import 'parts/forms';



/* GLOBAL STYLES */

body {
    font-family: 'TofinoNarrow-Regular';
    width: 100%;
    max-width: 100%;

    &.menu-open {
        overflow: hidden;
    }

    &.body-modal-open {
        position: relative;

        &::before {
            @include tr-03;
            content: '';
            position: absolute;
            z-index: 999;
            background: rgba(255, 255, 255, 0.5);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}


.wrapper {
    position: relative;
}

.relative-block {
    position: relative;
}

.woocommerce-info {
    display: none;
}

.h1-header {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 96px;
    font-family: 'Arista-Regular';
    color: #1D4288;

}

.h2-header {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    font-family: 'Arista-Regular';
    color: $fontColor;

}

.h3-header {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 62px;
    color: $fontColor;
    font-family: 'Arista-Regular';
}

.h4-header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $fontColor;
    font-family: 'Arista-Regular';
}

.regular-text {
    font-family: 'TofinoNarrow-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: $fontColorSm;
}

.regular-text-sm {
    font-family: 'TofinoNarrow-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $fontColorSm;

    &.align-left {
        text-align: left !important;
    }

    strong {
        font-family: 'TofinoNarrow-Medium';
    }
}


.regular-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: 'TofinoNarrow-Semibold';
    color: #00BBB3;
    @include tr-03;

    &:hover {
        color: $fontColor;
        @include tr-03;
    }
}

.regular-input {
    font-family: 'TofinoNarrow-BookItalic';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 17, 47, 0.0963997);
    border-radius: 35.5px;
    border: none;
    outline: none;
    padding: 19px 40px;
    width: 100%;

    &::placeholder {
        color: rgba(0, 0, 0, 0.6);
    }

    &:focus {
        box-shadow: 0 0 3px #00BBB3;
    }

    &.input-focus {
        box-shadow: 0 0 3px #00BBB3;

    }

    &.input-inactive {
        opacity: 0.6;
    }

    &.input-error {
        box-shadow: 0 0 3px #CE6464;
        color: #CE6464;

        &::placeholder {
            color: #CE6464;
        }
    }

    &.password-input {
        margin: 0px;
    }
}

.left-flex-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 50px;
}

.right-flex-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 50px;
}

.mg-b-17 {
    margin-bottom: 17px;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.mg-b-33 {
    margin-bottom: 33px;
}

.pd-r-70 {
    padding-right: 70px;
}

.password-field {
    position: relative;

    .view-password-btn {
        display: block;
        width: 20px;
        height: 13px;
        background: url('../img/view_pas_icon.svg');
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

/* SOCIAL ICONS */


.social-contact-list {
    display: flex;
}

.social-contact-link {
    display: block;
    width: 30px;
    height: 30px;

    svg path {
        @include tr-03;
    }


    &:hover {
        svg path {
            fill: $fontColor;
            @include tr-03;
        }
    }
}

/* SLIDERS STYLES */

.slick-dots {
    display: flex;


    li {
        width: auto;
        height: auto;
        margin: 5px 0;

        &.slick-active {
            border: 1px solid $mainColor;
            border-radius: 50%;
            padding: 3px;

            button {
                width: 11px;
                height: 11px;
                background: $mainColor;

                border-radius: 50%;

                @include tr-03;
            }
        }

        button {
            @include tr-03;
            width: 10px;
            height: 10px;
            background: $altColor;
            border-radius: 50%;
            margin: 0 auto;

            &::before {
                display: none;
            }
        }
    }

}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    border: 1px solid #000000;
    opacity: 0.2;
    background: url('../img/slide_arrow.svg') center center no-repeat;

}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    background: url('../img/slide_active_arrow.svg') center center no-repeat;
}

.slick-prev,
.slick-next {
    border: 1px solid $mainColor;
    opacity: 1;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background: url('../img/slide_active_arrow.svg') center center no-repeat;

    &::before {
        display: none;
    }
}


/* HEADER STYLES */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;

    .main-logo {
        display: block;
        margin: 0 auto;

        img {
            margin: 0 auto;
        }
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .header-col {
        flex: calc(100%/3);

        &:first-child {
            display: flex;
        }
    }
}


/* MAIN STYLES */


.main {
    position: relative;

    &.account-main {
        padding-top: 107px;
    }

    &.terms-main {
        padding-top: 107px;
    }

    &.blog-main {
        padding-top: 107px;
        overflow-x: hidden;
    }

    &.__single-post-main {
        padding-top: 107px;
    }

    &.faq-main {
        padding-top: 107px;
    }

    &.about-us-main {
        padding-top: 107px;

        .section-our-story {
            margin-top: 164px;
            position: relative;

            &::before {
                content: '';
                background: url('../img/bg_1.png') center center no-repeat;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                top: -274px;
                height: 100%;
                max-height: 199px;
                display: block;
                background-size: 100% 100%;
                pointer-events: none;
                z-index: 1;
                transform: scale(-1, -1);
            }
        }
    }
}


/* TOP POSTER SECTION */

.section-top-poster {
    padding: 150px 0 180px;
    background: url('../img/account_poster_bg.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &.__terms {
        background: url('../img/terms_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &.__blog {
        background: url('../img/blog_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &.__blog-post {
        background: url('../img/blog_post_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &._faq {
        background: url('../img/faq_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &.__about-us {
        background: url('../img/aboutus_poster_bg.png') center center no-repeat;
        background-size: cover;

    }

    &.__past-adventure {
        background: url('../img/pastadventure_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &.__future-adventure {
        background: url('../img/futureadventure_poster_bg.png') center center no-repeat;
        background-size: cover;
    }

    &.__account {
        position: relative;
        z-index: 5;


        &::after {
            top: -120px;

        }

        &::before {
            content: '';
            background: url('../img/bg_1.png') center center no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            bottom: -90px;
            height: 100%;
            max-height: 199px;
            display: block;
            background-size: 100% 100%;
            pointer-events: none;
            z-index: 1;
            transform: scale(-1, -1);
        }
    }

    &::after {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -13px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 0;
    }

    .h1-header {
        color: $altColor;
        text-align: center;
        margin-bottom: 6px;
        position: relative;
        z-index: 15;

    }
}

.breadcrumb-list {
    display: flex;
    justify-content: center;

}

.breadcrumb-item {
    .breadcrumb-link {
        font-family: 'TofinoNarrow-Semibold';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $mainColor;
        @include tr-03;

        &:hover {
            color: $altColor;
            @include tr-03;
        }
    }

    &.active {
        .breadcrumb-link {
            color: $altColor;
        }
    }

}

.breadcrumb-divider {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: 'TofinoNarrow-Semibold';
    color: $altColor;
    display: block;
    margin: 0 9px;
}



/* HOME INTRO SECTION */

.section-home-intro {
    padding: 170px 0 380px;
    background: url('../img/promo_bg.png') center center no-repeat;
    background-size: 100% auto;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        width: 100%;
        height: 156px;
        display: block;
        z-index: 10;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, $altColor 100%);
        mix-blend-mode: normal;
        opacity: 0.55;
        transform: matrix(1, 0, 0, -1, 0, 0);
        pointer-events: none;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        width: 100%;
        height: 142px;
        display: block;
        z-index: 15;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, $altColor 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        pointer-events: none;
    }

    .join-btn {
        margin-right: 20px;
    }

    .intro-boxes-img {
        position: absolute;
        right: 1vw;
        bottom: -65px;
        z-index: 10;
    }
}

.intro-flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;


    &::before {
        content: '';
        border-bottom: 600px solid $altColor;
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
        height: 0;
        width: 960px;
        transform: scale(1, -1);
        mix-blend-mode: normal;
        opacity: 0.8;
        filter: blur(135.914px);
        position: absolute;
        top: 0;
        left: calc(50% - 480px);
        z-index: 1;
        pointer-events: none;
    }

    .h1-header {
        z-index: 5;
    }

    .flex-block {
        z-index: 5;
    }

    .regular-text {
        max-width: 660px;
        text-align: center;
        margin-bottom: 40px;
        z-index: 5;
        color: $fontColor;
    }
}

/* HOME DESCRIBE BOX SECTION */

.section-describe-box {
    padding: 120px 0 0;
    position: relative;
    background: url('../img/descr_box_bg.png') left 250px no-repeat;

    &::before {
        content: '';
        background: url('../img/elem_1.png') center center no-repeat;
        background-size: contain;
        position: absolute;
        width: 274px;
        height: 274px;
        display: block;
        top: 340px;
        right: 1.5vw;
    }

    &::after {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        transform: scale(-1, -1);
    }

    .h2-header {
        text-align: center;
        margin-bottom: 5px;
    }

    .describe-box-img {
        margin: 0 auto 20px;
        position: relative;
        z-index: 10;
    }

    .regular-text {
        text-align: center;
        margin-bottom: 30px;
    }

    .describe-box-flex {
        margin-bottom: 75px;
        display: flex;
    }

    .left-flex-col {
        img {
            margin: 0 auto;
        }
    }

    .join-btn {
        margin: 0 auto;
    }
}

.describe-box-list {
    .describe-box-list__item {
        padding: 10px 95px 11px 140px;
        width: 100%;
        background: #F3EFDE;
        box-shadow: 0px 2px 3px rgba(0, 17, 47, 0.0001);
        border-radius: 3px;
        margin-bottom: 30px;
        position: relative;
        min-height: 105px;

        &:nth-child(1) {
            .describe-box-list__img {
                top: -15px;
                left: -30px;
            }
        }

        &:nth-child(2) {
            .describe-box-list__img {
                top: -10px;
                left: -40px;
            }
        }

        &:nth-child(3) {
            .describe-box-list__img {
                top: -5px;
                left: -30px;
            }
        }

        &:nth-child(4) {
            .describe-box-list__img {
                top: -10px;
                left: -30px;
            }
        }

        .regular-text {
            text-align: left;
            margin: 0px;
        }

        .describe-box-list__img {
            position: absolute;
            left: -5px;
            top: -10px;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

/* TESTIMONIALS SECTION */

.section-testimonials {
    padding: 360px 0 290px;
    background: url('../img/how_it_bg.png') center 0 no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;

    &.__without-bg {
        background: url('../img/about_testimonials_bg.png') right top no-repeat;
        padding: 0 0 160px;
        margin-bottom: 0px;

        .elem-17-img {
            margin: 0 0 20px 20px;
        }

        .testimonials-flex-row {
            .left-flex-col {
                padding-right: 35px;
                max-width: 48%;
                flex: 0 0 48%;

                .h2-header {
                    margin-bottom: 30px;
                }
            }

            .right-flex-col {
                padding-left: 35px;
                max-width: 52%;
                flex: 0 0 52%;
                padding-top: 35px;

                .h2-header {
                    margin-bottom: 18px;

                }
            }
        }
    }
}

.testimonials-flex-row {
    display: flex;

    .left-flex-col {
        img {
            margin-bottom: 50px;
        }
    }

    .right-flex-col {
        .h2-header {
            margin-bottom: 35px;
        }
    }

    .join-btn {
        margin-right: 30px;
    }

    .regular-text {
        margin-bottom: 40px;
    }
}

.testimonials-container {
    background: #EFEBDF;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.12);
    padding: 9px;

    .border-block {
        border: 1px solid $borderColor;
        padding: 3px;

        &.__second {
            padding: 35px;
        }
    }

    .testimonials-rating {
        font-family: 'TofinoNarrow-Book';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $fontColor;
        margin-right: 6px;
    }

    .testimonials-slider-row {
        border-bottom: 1px solid $borderColor;
        margin-bottom: 20px;
    }

    .testimonials-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.7px;
        color: rgba(99, 68, 46, 0.8);
        font-family: 'Festus';

    }

    .border-row {
        padding-bottom: 13px;
        margin-bottom: 3px;
        border-bottom: 1px solid $borderColor;
        display: flex;
    }
}

.testimonials-slider {
    max-width: 85%;
    margin-bottom: 0px !important;


    .slick-prev {
        left: inherit;
        top: 15%;
        right: -43px;
    }

    .slick-next {
        transform: rotate(180deg);
        right: -43px;
        top: inherit;
        bottom: 15%;
    }

    .location-info {
        margin-bottom: 5px;
    }

    .location-info {
        font-family: 'TofinoNarrow-Book';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $fontColorSm;
    }

    .slider-flex-block {
        display: flex;
    }

    .slider-img-col {
        display: flex;
        align-items: center;
        margin-right: 19px;
    }

    .owner-img-block {
        max-width: 73px;
        max-height: 73px;
        padding: 3px;
        background: $altColor;
    }

    .pet-img-block {
        max-width: 53px;
        max-height: 53px;
        padding: 3px;
        background: $altColor;
    }

    .slick-dots {
        flex-direction: column;
        bottom: inherit;
        top: 50%;
        transform: translate(0, -50%);
        right: -40px;
        left: inherit;
        align-items: center;
        max-width: 19px;
    }
}


.stars-list {
    display: inline-flex;

    .stars-list__item {
        margin-right: 4px;

        &:last-of-type {
            margin-right: 0px;
        }
    }

    .star-icon {
        background: url('../img/full_star_icon.svg') center center no-repeat;
        background-size: contain;
        display: block;
        width: 10px;
        height: 10px;

        &.__half {
            background: url('../img/half_star_icon.svg') center center no-repeat;
            background-size: contain;
        }

    }
}

.bg-navbar {
    background: url('../img/navbar_bg.png') center center no-repeat;
    background-size: auto;
}

/* OUR STORY SECTION */
.section-our-story {
    background: url('../img/compas_img_3.png') right top no-repeat;
    padding: 0 0 240px;
    position: relative;



    &::before {
        position: absolute;
        content: '';
        background: url('../img/one_paw_bg.png') center center no-repeat;
        width: 248px;
        height: 280px;
        background-size: contain;
        left: 0;
        bottom: 40px;
    }

    &::after {
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/elem_8.png') center center no-repeat;
        content: '';
        width: 286px;
        height: 188px;
        background-size: contain;
    }

    .left-flex-col {
        padding-right: 20px;
        position: relative;


        .h2-header {
            margin-bottom: 21px;
        }

        .regular-text {
            margin-bottom: 21px;
        }

        .flex-block {
            padding-top: 15px;
        }

        img {
            margin-left: auto;
        }
    }

    .compas-img {
        position: absolute;
        right: 0;
        bottom: 40px;
        z-index: 10;
    }

    .right-flex-col {
        padding-left: 20px;
        padding-top: 70px;
    }

    .modal-video-block {
        padding: 14px;
        background: $altColor;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12);
        position: relative;
        overflow: visible;

        img {
            margin-bottom: 14px;
        }

        &::before {
            background: url('../img/paper_shape.png') center center no-repeat;
            content: '';
            width: 136px;
            height: 68px;
            background-size: contain;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 5;
        }

    }

    .modal-video-title {
        font-family: 'Festus';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.7px;
        color: rgba(99, 68, 46, 0.8);
        text-align: center;
    }


}

.play-btn {
    background: $altColor url('../img/play-button.svg') 58% center no-repeat;
    box-shadow: 0px 2px 20px rgba(0, 187, 179, 0.219406);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    bottom: -28px;
    @include tr-05;

    &::before {
        content: '';
        position: absolute;
        border: 5px solid rgba(255, 255, 255, 0.35);
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        border-radius: 50%;
        animation: pulse 2.3s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        border: 5px solid rgba(255, 255, 255, 0.35);
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        border-radius: 50%;
        animation: pulse 2.3s linear infinite .5s;

    }

}

.learn-more-btn {
    margin-right: 35px;
}

/* MAP SECTION STYLSE */


.section-map {
    background: url('../img/map_color_bg.png') center center no-repeat;
    background-size: 100% 100%;
    padding: 492px 0 181px;
    margin-bottom: 125px;
}

.map-tabs {
    display: flex;
    justify-content: center;
    width: 100%;

    .map-link-item {
        font-family: 'Arista-Regular';
        font-size: 60px;
        color: #A3A3A3;
        letter-spacing: 0;
        padding: 10px 44px;
        @include tr-03;
        box-shadow: rgba(151, 151, 151, 0.3) 0px -2px 0px inset;
        position: relative;

        &.active {
            color: $fontColor;
            box-shadow: $mainColor 0 -6px 0px inset;
            @include tr-03;

            &::before {
                content: 'EXPLORE';
                font-family: 'TofinoNarrow-Bold';
                font-size: 16px;
                color: #00BBB3;
                letter-spacing: 0;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: -40px;
            }
        }
    }
}

.tower-bg {
    background: url('../img/elfie-tower_bg.png') left 165px no-repeat;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        display: block;
        background: url('../img/elem_10.png') center center no-repeat;
        width: 165px;
        height: 207px;
        position: absolute;
        right: 5px;
        top: 37.5%;
    }
}

.map-tab-content {
    padding-top: 65px;
    position: relative;

    .tab-pane {
        top: 65px;
        left: 0;
    }

    .clue-block {
        .h4-header {
            text-align: left;
        }
    }

    .h4-header {
        text-align: center;
        margin-bottom: 3px;
    }

    .regular-text {
        color: $fontColor;
        text-align: center;
        max-width: 766px;
        margin: 0 auto;
    }

    .map-lines-bg {
        position: relative;
        top: -112px;
    }

}



/* ACCOUNT CONTENT SECTION */

.section-account-content {
    padding: 180px 0 190px;
    background: url('../img/account_main_bg.png') center center no-repeat;
    background-size: cover;
    min-height: 634px;
    position: relative;
    z-index: 10;

}

.select-wrap {
    display: none;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto 60px;

    .tab-item {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $fontColor;
        font-family: 'Arista-Regular';
        opacity: 0.5;
        display: block;
        padding: 2.5px 0 2.5px 42px;
        margin-right: 50px;
        background: url('../img/dog_icon.svg') left center no-repeat;
        @include tr-03;

        &:last-of-type {
            margin-right: 0px;
        }

        &.active {
            opacity: 1;
            @include tr-03;
        }

        &.subscr-item {
            background: url('../img/subscr_icon.svg') left center no-repeat;
        }

        &.payment-item {
            background: url('../img/payment_icon.svg') left center no-repeat;
        }

        &.address-item {
            background: url('../img/address_icon.svg') left center no-repeat;
        }
    }
}

.account-tab-content {
    .account-flex-container {

        max-width: 715px;
        margin: 0 auto;

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .col-4 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .regular-input {
            margin-bottom: 25px;
        }
    }

    .buttons-flex-block {
        display: flex;
        flex-direction: column;

        .btn-2 {
            margin-bottom: 25px;
        }
    }

    .account-header-span {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: $fontColorSm;
        font-family: 'Arista-Regular';
        display: block;
        margin-bottom: 8px;
    }

    .gender-flex-block {
        display: flex;
        margin-bottom: 25px;
    }

    .gender-block {
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0px;
        }

    }

    .account-radiobox {
        opacity: 0;
        position: absolute;
        z-index: -2;
        pointer-events: none;
    }

    .account-label {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $fontColorSm;
        cursor: pointer;
        display: block;
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 8px);
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #999999;

        }

        &::after {
            content: '';
            position: absolute;
            left: 3px;
            top: calc(50% - 5px);
            display: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $mainColor;
        }
    }

    .account-radiobox[type=radio]:checked+.account-label::before {
        border: 1px solid $mainColor;

    }

    .account-radiobox[type=radio]:checked+.account-label::after {
        display: block;

    }

    .nav-subscription {
        .account-header-span {
            margin-bottom: 20px;

        }

        .h4-header {
            font-size: 18px;
            text-align: center;
        }

        .regular-text-sm {
            text-align: center;
        }
    }

    .sbscr-flex-row {
        display: flex;
    }

    .sbscr-bg-block {
        background: url('../img/elem_3.png') center center no-repeat;
        height: 124px;
        padding-top: 30px;
        width: 100%;
    }

    .sbscr-flex-col {
        flex: 0 0 230px;
        max-width: 230px;
        padding-right: 50px;
        width: 100%;
    }

    .sbscr-flex-col-2 {
        flex: 0 0 265px;
        max-width: 265px;
        width: 100%;
        padding-right: 50px;
    }

    .expire-info-row {
        display: flex;
        margin-bottom: 10px;
        align-items: center;

        &:last-child {
            margin-bottom: 17px;
        }

        .account-header-span {
            margin-bottom: 0px;
            margin-right: 9px;
        }

        .regular-text-sm {
            padding-top: 3px;
        }
    }

    .flex-block {
        .align-left {
            margin-right: 10px;
        }
    }

    .expire-date-block {
        text-align: center;
        background: #F3F0E8;
        border: 1px solid rgba(100, 68, 44, 0.262511);
        border-radius: 24.5px;
        padding: 11px 8px 6px 15px;
        margin-bottom: 20px;

        .expire-timing {
            font-family: 'Festus';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #64442C;
            display: inline-block;
            padding-left: 25px;
            background: url('../img/expire_icon.svg') left 5px no-repeat;
        }
    }

    .payment-flex-row {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;

        &:first-child {
            max-width: 410px;
            margin-bottom: 30px;
        }

        .regular-input {
            margin: 0px;
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0px;
            }
        }
    }

    .payment-method-block {
        margin-right: 50px;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.state-autocomplete-result {
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 17, 47, 0.0963997);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    @include tr-02;
    transform: translate(0, -10%);
    max-height: 318px;
    overflow: scroll;

    &.active {
        z-index: 10;
        pointer-events: all;
        opacity: 1;
        @include tr-02;
        transform: translate(0, 0%);
    }
}

.state-input-wrap {
    position: relative;

    .state-input {
        width: 100%;
        display: block;
        min-height: 60px;
    }

    .state-input:focus {
        cursor: pointer;
    }
}

.state-result-list {

    .state-list-item {

        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        @include tr-02;

        &:last-of-type {
            border-bottom: none;
        }

        &:hover {
            cursor: pointer;
            background: rgba(29, 66, 136, 0.03);
            @include tr-02;

            .state-title {
                color: #000000;
                @include tr-02;
            }
        }
    }

    .state-title {
        font-family: 'TofinoNarrow-BookItalic';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        @include tr-02;
        display: block;
        width: 100%;
        padding: 15px 20px;
    }
}

/* TERMS REFUNDS PAGES STYLES */


.section-termsrefunds-content {
    padding: 86px 0 60px;
    position: relative;
    background: url('../img/navbar_bg.png') 50px -30px no-repeat;

    &::after {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        transform: scale(-1, -1);
    }

    &::before {
        content: '';
        background: url('../img/egypt_bg.png') center center no-repeat;
        width: 852px;
        height: 339px;
        position: absolute;
        top: 35%;
    }

    .title-regular-text {
        z-index: 1;
        position: relative;
        margin-bottom: 60px;
    }
}

.egypt-badge {
    position: absolute;
    top: 24.5%;
    left: 36%;
}

.tr-info-block {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0px;
    }

    .h4-header {
        margin-bottom: 5px;
    }
}

.terms-rules-nav {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    position: sticky;
    top: 80px;

    .terms-rules-nav__item {
        margin-bottom: 22px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}


/* BLOG PAGE STYLES */
.post-category-span {
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    color: $fontColorSm;
}

.section-newest-post {
    position: relative;
    padding: 110px 0 90px;
    background: url('../img/navbar_bg.png') center center no-repeat;


    &::after {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        transform: scale(-1, -1);
    }

    &::before {
        background: url('../img/china_bg.png') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 669px;
        height: 611px;

        bottom: -100px;
    }

    .h2-header {
        text-align: center;
        position: relative;
        z-index: 2;
        margin-bottom: 60px;
    }

}

.latest-posts-slider {
    &::after {
        content: '';
        background: url('../img/paws_img.png') center center no-repeat;
        display: block;
        max-width: 542px;
        width: 100%;
        height: 256px;
        background-size: contain;
        position: absolute;
        bottom: -80px;
        right: -135px;
        z-index: -1;
    }

    .slider-block {
        padding: 0 0 60px 0px;

        .pd-r-70 {
            padding: 0 70px 10px 10px;
        }
    }

    .h3-header {
        margin-bottom: 20px;
    }

    .post-category-span {
        margin-bottom: 14px;
    }

    .regular-text {
        margin-bottom: 44px;
    }

    .read-post-link {
        max-width: 209px;
    }

    .slick-dots {
        justify-content: flex-start;
        align-items: center;
        bottom: 172.5px;
        margin-left: 300px;

        li {
            margin: 0 5px;
        }

        button {
            background: #CFCFCF;
        }
    }

    .slick-prev {
        top: inherit;
        bottom: 170px;
        transform: rotate(-90deg);
        left: 22%;
        right: inherit;
        z-index: 5;
    }

    .slick-next {
        z-index: 5;
        top: inherit;
        bottom: 170px;
        left: 40%;
        right: inherit;
        transform: rotate(90deg);
    }
}

.blog-img-frame {
    background: $altColor;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 16px;
    max-width: 555px;

    &::before {
        background: url('../img/paper_shape.png') center center no-repeat;
        content: '';
        width: 136px;
        height: 68px;
        background-size: contain;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, 0);
    }

}

.latest-post-img {
    margin: 0 auto 16px;
}

.blog-frame-title {
    font-family: 'Festus';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.7px;
    color: rgba(99, 68, 46, 0.8);
    text-align: center;
    display: block;
}

.section-blog-archive {
    padding: 275px 0 195px;
    background: url('../img/blog_content_bg.png') center center no-repeat;
    background-size: 100% 100%;


    .elem-6-img {
        margin: 0 auto 30px;
    }

    .h2-header {
        text-align: center;
        margin-bottom: 50px;
    }
}

.blog-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .blog-filter-block {
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0px;
        }
    }

    .blog-filter-checkbox {
        opacity: 0;
        position: absolute;
        z-index: -1;
        pointer-events: none;
    }

    .blog-filter-label {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        font-family: 'TofinoNarrow-Semibold';
        color: $fontColorSm;
        padding: 12px 30px;
        border: 2px solid #D9D9D9;
        border-radius: 34px;
        cursor: pointer;
        @include tr-03;
    }

    .blog-filter-checkbox[type=checkbox]:checked+.blog-filter-label {
        color: #003594;
        border: 2px solid #003594;
        @include tr-03;
    }
}

.blog-post-tile {
    background: $altColor;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12);
    padding: 16px 16px 30px;
    margin-bottom: 30px;

    .post-img-wrap {
        max-height: 240px;
        overflow: hidden;
        margin-bottom: 19px;
    }

    .post-category-span {
        margin-bottom: 5px;
    }

    .h4-header {
        margin-bottom: 4px;
    }
}

.load-more-container {
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.load-more-btn {
    max-width: 209px;
}

.section-popular-posts {
    padding: 20px 0 100px;
    position: relative;

    &::before {
        content: '';
        background: url('../img/freedom_monument.png') center center no-repeat;
        background-size: contain;
        display: block;
        width: 384px;
        height: 1012px;
        position: absolute;
        right: 0;
        top: -140px;
    }

    .flex-block {
        margin-bottom: 63px;
    }

    .elem-7-img {
        margin-right: 44px;
    }

    .h2-header {
        margin-bottom: 14px;
    }

    .regular-text-sm {
        margin-bottom: 29px;
        font-size: 18px;
    }

    .btn-2,
    .btn-alt-2 {
        max-width: 212px;
    }

    .flex-block.mg-b-63 {
        margin-bottom: 63px;
    }

    .btn-alt-2 {
        margin-right: 19px;
    }
}

/* SINGLE POST PAGE */


.section-post-content {
    padding: 144px 0 170px;
    position: relative;
    background: url('../img/navbar_bg.png') center 40px no-repeat;

    &::before {
        background: url('../img/china_bg.png') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 669px;
        height: 611px;
        top: 10%;
    }

    &::after {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        -webkit-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
    }

    .container {
        z-index: 10;
        position: relative;

    }

    .btn-2 {
        max-width: 212px;
    }

    .paws-bg {
        position: relative;

        &::before {
            content: '';
            background: url('../img/paws_img.png') center center no-repeat;
            display: block;
            width: 644px;

            height: 301px;
            background-size: contain;
            position: absolute;
            top: 275px;
            right: -90%;
            z-index: -1;
            transform: rotate(90deg) scale(1, -1);
        }
    }
}

.post-content-wrap {
    padding-right: 115px;
    position: relative;
    margin-bottom: 40px;

    &::after {
        content: '';
        background: url('../img/usa_badge.png') center center no-repeat;
        display: block;
        width: 240px;
        height: 240px;
        position: absolute;
        left: -145px;
        bottom: -235px;
        z-index: -1;
    }


    .post-category-span {
        margin-bottom: 14px;
    }

    .h3-header {
        margin-bottom: 33px;
    }

    .regular-text {
        margin-bottom: 30px;
    }

    .post-content-list {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        .post-content-list__item {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            p {
                margin: 0px;
                padding-left: 34px;
                display: inline-block;
                background: url('../img/paw_icon.svg') left center no-repeat;
            }
        }
    }

    .blog-img-frame {
        margin-bottom: 30px;
    }

    .gallery-post-block {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

    .gallery-item {
        padding: 16px;
        background: $altColor;
        box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.12);
        max-width: 330px;
        position: relative;
        z-index: 5;

        &:last-of-type {
            max-width: 258px;
            margin-left: -20px;
            z-index: 0;
        }

        .gallery-img-frame {
            margin-bottom: 7px;
            max-height: 300px;
            overflow: hidden;
        }
    }

    .gallery-item__title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.7px;
        color: rgba(99, 68, 46, 0.8);
        text-align: center;
        display: block;
        font-family: 'Festus';
    }



}

/* ABOUT US PAGE STYLES */

.promise-block {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.__first {
        margin: 0 0 180px auto;
    }

    &.__second {
        margin: 0 auto;
    }

    img {
        margin-bottom: 20px;
    }

    .h4-header {
        margin-bottom: 5px;
    }
}

.section-aboutus-content {
    position: relative;
    padding-bottom: 63px;
    margin-bottom: 143px;

    &::before {
        content: '';
        background: url('../img/paws_img.png') center center no-repeat;
        display: block;
        width: 644px;
        height: 301px;
        background-size: contain;
        position: absolute;
        top: -70px;
        left: 35%;
        z-index: -1;
        transform: rotate(90deg) scale(1, -1);
    }

    .elem-16-img {
        position: absolute;
        right: 0px;
        bottom: -63px;
    }
}

.about-elem-img {
    position: absolute;

    &.about-elem-1 {
        left: 310px;
        top: -160px;
        z-index: 2;
    }
}

.before-wrap-2 {
    position: absolute;
    left: 15px;
    top: 27.5%;
    z-index: 5;
    width: 100%;
    height: 100%;
    max-width: 456px;

    max-height: 484px;


    &::before {
        background: url('../img/paper_shape.png') center center no-repeat;
        content: '';
        width: 165px;
        height: 130px;
        background-size: cover;
        position: absolute;
        bottom: 0px;
        left: -45px;
        z-index: 5;
        transform: rotate(72deg);
    }
}

.before-wrap-3 {
    position: absolute;
    left: 0px;
    top: -250px;
    z-index: 5;
    width: 100%;
    height: 100%;
    max-width: 432px;

    max-height: 517px;


    &::before {
        background: url('../img/paper_shape.png') center center no-repeat;
        content: '';
        width: 135px;
        height: 100px;
        background-size: cover;
        position: absolute;
        top: 25px;
        right: -10px;
        z-index: 5;
        transform: rotate(-18deg);
    }
}

/* REGULAR SLIDER */
.regular-slider-container {
    max-width: 1240px;
    width: 100%;
    margin-right: auto;
    margin-left: -70px;

}

.regular-slider {
    min-height: 570px;

    &.__home {
        .bottom-slide-info {
            display: none !important;
        }

        .slick-slide {
            &.slick-current {

                .post-slider-title {
                    display: block;
                }
            }
        }

    }

    .regular-slider-element {
        background: $altColor;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12);
        padding: 16px;
        text-align: center;

    }

    .slick-dots {
        align-items: center;
        justify-content: center;
        bottom: inherit;
        top: 51.5px;
        margin-left: 19vw;

        li {
            margin: 0 5px;
        }

        button {
            background: #CFCFCF;
        }

    }

    .slick-prev {
        top: 49px;
        transform: rotate(-90deg);
        left: inherit;
        right: 30%;
        z-index: 5;
    }

    .slick-next {
        z-index: 5;
        top: 49px;
        right: 10%;
        transform: rotate(90deg);
    }

    .slick-track {
        padding: 10px 0;
    }

    .h4-header {
        margin-bottom: 4px;
    }

    .regular-text-sm {
        margin-bottom: 7px;
    }

    .img-slider-wrap {
        margin-bottom: 7px;
    }



    .slick-slide {
        max-width: 555px;
        margin: 0 -150px;
        padding: 70px 110px 0;
        z-index: 7;
        @include tr-05;
        position: relative;

        .bottom-slide-info {
            display: none;
            padding-bottom: 26px;
            padding-top: 26px;
        }

        .post-slider-title {
            font-family: 'Festus';
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.7px;
            color: rgba(99, 68, 46, 0.8);

        }


        &.slick-current {
            z-index: 10;
            margin: 0;
            padding: 0px;
            @include tr-05;

            .post-slider-title {
                display: none;
            }

            .bottom-slide-info {
                display: block;
            }
        }
    }

    .slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
        padding: 240px 150px 0;
        z-index: 5;
    }
}

/* SECTION HOME SLIDER */

.section-home-slider {
    background: url('../img/india_bg.png') right 30% no-repeat;

    .l-col,
    .r-col {
        flex-shrink: 0;
    }

    .l-col {
        margin-right: 20px;
        flex: 0 0 500px;
        max-width: 500px;
    }

    .r-col {
        max-width: 280px;
        flex: 0 0 280px;

        img {
            margin: 0 auto;
        }
    }

    .h2-header {
        margin-bottom: 20px;
    }

    .regular-text {
        margin-bottom: 23px;
    }

    .social-contact-list {
        margin-bottom: 55px;
    }

    .flex-block {
        max-width: 800px;
    }

    .social-contact-list__item {
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

/* FAQ PAGE STYLES */

.section-faq-content {
    padding: 80px 0 5px;
    position: relative;
    background: url('../img/faq_content_bg.png') 0 90% no-repeat;
    background-size: 100% auto;

    &::after {
        background: url('../img/italy_badge.png') center center no-repeat;
        display: block;
        content: '';
        width: 142px;
        height: 142px;
        background-size: contain;
        position: absolute;
        right: 50px;
        top: 32%;
    }

    &::before {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        transform: scale(-1, -1);
    }

    .elem-6-img {
        margin: 0 auto 40px;
        position: relative;
        z-index: 5;
    }

    .h2-header {
        margin-bottom: 50px;
        text-align: center;
    }

}

.faq-accordion {
    max-width: 632px;
    margin: 0 auto 44px;

    .trigger-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: left;

        .h4-header {
            padding-right: 70px;

        }

        &.collapsed {
            .faq-icon {
                background: url('../img/plus_icon.svg') center center no-repeat;
                height: 17px;
                @include tr-03;
            }
        }
    }

    .card {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    .card-body {
        padding-top: 9px;
    }

    .faq-icon {
        background: url('../img/minus_icon.svg') center center no-repeat;
        height: 2px;
        display: block;
        width: 17px;
        @include tr-03;
    }
}


/* PAST ADVENTURE PAGE STYLES */


.section-adventure-map {
    background: url('../img/map_color_bg.png') center center no-repeat;
    background-size: 100% 100%;
    padding: 170px 0 32px;
    position: relative;
    text-align: center;

    &::before {
        content: '';
        background: url('../img/bg_1.png') center center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: -110px;
        height: 100%;
        max-height: 199px;
        display: block;
        background-size: 100% 100%;
        pointer-events: none;
        z-index: 1;
        transform: scale(-1, -1);
    }

    &.future-adventure {
        .h2-header {
            margin-bottom: 22px;
        }

        .container {
            position: relative;
        }
    }

    .regular-text {
        max-width: 766px;
        margin: 0 auto;
    }

    .btn-2 {
        max-width: 212px;
        margin: 0 auto;
    }
}


/* FOOTER STYLES */
.footer {
    background: url('../img/footer_bg.png') center center no-repeat;
    padding: 190px 0 50px;
    background-size: cover;

    .h3-header {
        margin-bottom: 20px;
    }

    .footer-list__item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .join-btn {
        margin-right: 20px;
    }
}

#toTop {
    display: none;
    position: fixed;
    bottom: 12vh;
    right: 120px;
    cursor: pointer;
    width: 67px;
    height: 67px;
    background: $altColor url('../img/top_arrow.svg') center center no-repeat;
    border-radius: 50%;
    box-shadow: 0px 2px 20px rgba(0, 187, 179, 0.219406);
    z-index: 900;
    animation: radial-pulse 4s infinite;

    &.absolute-position {
        bottom: calc(492px - 33.5px);
        position: absolute;
        display: block;
    }
}

.coopyright-p {
    text-align: center;
}

.footer-flex-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

    .footer-col {
        flex-shrink: 0;
    }
}

.footer-link {
    font-family: 'TofinoNarrow-Semibold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $mainColor;
    @include tr-03;

    &:hover {
        border-bottom: 1px solid $mainColor;
        @include tr-03;
    }
}

.footer-list {
    margin-right: 30px;

    &:last-of-type {
        margin-right: 0px;
    }
}

.woo-slg-social-wrap {
    display: flex;
    justify-content: center;
}

.woo-slg-login-wrapper {
    margin-right: 30px;
}

.woo-slg-social-wrap img {
    height: 30px;
    width: 30px;
}

.woo-slg-social-wrap img:hover {
    transform: scale(1.075);
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

.clue-block {
    padding: 78px 50px 58px;
    background: #FFFFFF url('../img/clue_bg.png') center 40px no-repeat;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    max-width: 440px;
    margin: 20px auto;
    opacity: 0;
    position: absolute;
    @include tr-03;
    right: 0;
    top: 100px;
    z-index: 20;
    pointer-events: none;

    &.active-block {
        opacity: 1;
        @include tr-03;
        pointer-events: all;
    }

    .h4-header {
        margin-bottom: 13px;
        text-align: left;
    }
}

/* ANIMATION */


@keyframes radial-pulse {
    0% {
        box-shadow: 0px 2px 20px rgba(0, 187, 179, 0.219406);
    }

    50% {
        box-shadow: 0px 0px 7px 8px rgba(0, 187, 179, 0.219406);
    }

    100% {
        box-shadow: 0px 2px 20px rgba(0, 187, 179, 0.219406);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.appear-animation {
    animation: rotate-opacity 1s linear;
}

@keyframes rotate-opacity {
    0% {
        opacity: 0;
        transform: rotate(-180deg) scale3d(0.1, 0.1, 0.1);
    }

    50% {
        opacity: 1;
    }

}

@media screen and (max-width:768px) {
    .desktop-block {
        display: none;
    }

    .wrapper {
        overflow: hidden;
    }

    .h1-header {
        font-size: 40px;
        line-height: 47px;
    }

    .h2-header {
        font-size: 36px;
        line-height: 40px;
    }

    .h3-header {
        font-size: 36px;
        line-height: 47px;
    }

    .h4-header {
        font-size: 20px;
        line-height: 24px;
    }

    .join-btn,
    .gift-btn {
        padding: 19px 22px;
    }

    .left-flex-col,
    .right-flex-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }

    .regular-text {
        font-size: 18px;
        line-height: 24px;
    }

    .regular-text-sm {
        font-size: 16px;
        line-height: 20px;
    }

    .learn-more-btn {
        padding: 19px 36px;
        margin-right: 25px;
    }

    .header {
        padding: 0 25px;

        .header-navbar {
            width: 100%;
            justify-content: space-between;
        }

        .header-col {
            flex: 0 0 50%;
            max-width: 50%;

            &:first-child {
                display: none;
            }
        }
    }

    .navbar-collapse {

        &::before {
            left: -125px;
            top: 50px;
            display: block;
            width: 250px;
            height: 250px;
        }

        &::after {
            right: -125px;
            top: 50px;
            display: block;
            width: 250px;
            height: 250px;
        }

        .navbar-container {
            padding: 80px 15px 70px;
            flex-direction: column;
            background: url('../img/navbar_bg_mobile.png') center 40px no-repeat;
        }
    }

    .navbar-nav {
        margin-bottom: 40px;

        .nav-item {
            text-align: center;
        }
    }

    .navbar-join-col {
        .h3-header {
            margin-bottom: 15px;
        }

        .join-btn {
            margin-right: 15px;
        }

        .flex-block {
            justify-content: center;
        }
    }

    .intro-flex-row {
        .regular-text {
            display: none;
        }
    }

    /* MAIN STYLES */

    .main {
        background: #fff;

        &.faq-main {
            padding-top: 70px;
        }

        &.blog-main {
            padding-top: 70px;
        }

        &.__single-post-main {
            padding-top: 70px;
        }

        &.terms-main {
            padding-top: 70px;
        }

        &.about-us-main {
            padding-top: 70px;
        }

        &.account-main {
            padding-top: 70px;
        }
    }


    .section-termsrefunds-content {

        &::after {
            background: url('../img/bg_1-2_mobile.png') center center no-repeat;
            max-height: 130px;

            transform: scale(1, 1);
            top: -65px;
            background-size: cover;
        }
    }

    /* SECTION TOP POSTER MOB */

    .section-top-poster {
        padding: 40px 0 70px;
        background-size: cover;
        background: url('../img/account_poster_bg_mob.png') center center no-repeat;

        .h1-header {
            margin: 0 auto 10px;
        }

        &::after {
            background: url('../img/bg_1-2_mobile.png') center center no-repeat;
            max-height: 130px;
            background-size: cover;
        }

        &._faq {
            background: url('../img/faq_poster_bg_mob.png') center center no-repeat;
            background-size: cover;

            .h1-header {
                max-width: 70%;

            }
        }

        &.__about-us {
            background: url('../img/aboutus_poster_bg_mob.png') center center no-repeat;
            padding: 72px 0;
        }

        &.__blog {
            background: url('../img/blog_poster_bg_mob.png') center center no-repeat;
            background-size: cover;
            padding: 72px 0;
        }

        &.__terms {
            padding: 72px 0;
        }

        &.__account {
            padding: 72px 0;

            &::after {
                content: '';
                background: url('../img/bg_1-2_mobile.png') center center no-repeat;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                top: 165px;
                height: 100%;
                max-height: 199px;
                display: block;
                background-size: 100% 100%;
                pointer-events: none;
                z-index: 2;
            }

            &::before {
                background: url('../img/bg_1-2_mobile.png') center center no-repeat;
                max-height: 130px;
                transform: scale(1, 1);
                top: -83px;
                background-size: cover;
            }
        }
    }

    .section-termsrefunds-content {
        .row {
            .col-sm-5 {
                display: none;
            }
        }
    }

    .section-faq-content {
        padding: 85px 0 175px;
        background: url('../img/faq_content_bg_mob.png') center 90% no-repeat;

        .elem-6-img {
            max-width: 212px;
            margin-bottom: 20px;
        }

        .h2-header {
            margin-bottom: 40px;
        }

        &::after {
            top: 10px;
            right: -20px;
            z-index: 10;
            max-width: 103px;
            max-height: 102px;
        }

        &::before {
            background: url('../img/bg_1-2_mobile.png') center center no-repeat;
            max-height: 130px;
            transform: scale(1, 1);
            top: -65px;
            background-size: cover;
        }
    }

    .faq-accordion {
        .faq-icon {
            flex-shrink: 0;
        }

        .trigger-btn .h4-header {
            padding-right: 35px;
        }
    }

    /* BLOG PAGE */

    .section-newest-post {
        padding: 63px 0 100px;
        background: url('../img/navbar_bg_mobile.png') center 100px no-repeat;
        margin-bottom: 30px;

        &::after {
            background: url('../img/bg_1-2_mobile.png') center center no-repeat;
            max-height: 130px;
            transform: scale(1, 1);
            top: -65px;
            background-size: cover;
        }

        &::before {
            background: url('../img/china_bg_mob.png') center center no-repeat;
            width: 481px;
            height: 408px;
            left: -35px;
            bottom: 5px;
            background-size: contain;
        }

        .latest-posts-slider {
            background: url('../img/paws_bg_mob.png') right 40% no-repeat;
        }
    }

    .latest-posts-slider {
        .h2-header {
            margin-bottom: 45px;
        }

        .h3-header {
            margin-bottom: 20px;
            text-align: center;
        }

        .read-post-link {
            margin: 0 auto;
        }

        .slider-block {

            .pd-r-70 {
                padding: 0px;
            }

            .col-order-2 {
                order: 2;

            }

            .col-order-1 {
                order: 1;
                margin-bottom: 98px;
            }

            .post-category-span {
                text-align: center;
                display: block;
                margin-bottom: 10px;
            }

            .regular-text {
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .slick-dots {
            margin: 0 auto;
            justify-content: center;
            bottom: 0px;
        }

        .slick-prev {
            bottom: -2px;
            left: 17vw;
        }

        .slick-next {
            bottom: -2px;
            right: 17vw;
            left: inherit;
        }
    }

    .section-blog-archive {
        padding: 110px 0 174px;
        background: url('../img/blog_content_bg_mob.png') center center no-repeat;
        background-size: cover;

        .elem-6-img {
            margin-bottom: 24px;
            max-width: 212px;
        }

        .h2-header {
            margin-bottom: 24px;
        }
    }

    .section-post-content {
        padding-bottom: 0px;
        background: url('../img/navbar_bg_mobile.png') center 150px no-repeat;

        &::before {
            display: none;
        }
    }

    .post-content-wrap {
        .blog-img-frame {
            margin-bottom: 140px;
        }

        background: url('../img/paws_bg_mob.png') right 41.5% no-repeat;
    }

    .section-popular-posts {
        padding: 40px 0 108px;

        .elem-7-img {
            margin: 0 auto 25px;
            max-width: 150px;
        }

        .flex-block {
            flex-direction: column;
        }

        &::before {
            background: url('../img/new_york_icon_mob.png') center center no-repeat;
            width: 150px;
            height: 152px;
            top: -100px;
            left: 15px;
            transform: rotate(10deg);
        }

        .h2-header {
            text-align: center;
            margin-bottom: 5px;
        }

        .regular-text-sm {
            text-align: center;
            margin-bottom: 0px;
        }

        .flex-block.mg-b-63 {
            display: flex;
            margin-bottom: 30px;
        }

        .flex-block {
            display: none;
        }
    }

    .blog-post-tile {
        margin-bottom: 20px;
    }

    .load-more-container {
        padding-top: 10px;
    }

    .blog-filters {
        display: none;
    }



    /* SINGLE BLOG POST STYLES */

    .section-post-content {

        &::after {
            background: url('../img/bg_1-2_mobile.png') center center no-repeat;
            max-height: 130px;
            transform: scale(1, 1);
            top: -65px;
            background-size: cover;
        }

        .btn-2 {
            margin: 0 auto 65px;
        }

    }

    .post-content-wrap::after {
        display: none;
    }

    .section-post-content {
        .paws-bg {
            background: url('../img/related_art_bg_mob.png') center top no-repeat;
            padding: 135px 0 200px;

            &::before {
                display: none;
            }

            .h3-header {
                margin: 0 auto 23px;
                text-align: center;
            }
        }
    }


    .blog-post-tile {
        .post-img-wrap {
            img {
                width: 100%;
            }
        }
    }

    .post-content-wrap {
        padding: 0px;
        margin-bottom: 30px;
    }


    .section-home-intro {
        padding: 105px 0 281px;
        background: url('../img/promo_bg_mobile.png') 0 0 no-repeat;
        background-size: cover;

        .intro-boxes-img {
            max-width: 248px;
            right: inherit;
            left: calc(50% - 124px);
            bottom: -100px;
        }

        .intro-flex-row {
            &::before {
                display: none;
            }

            .h1-header {
                margin-bottom: 15px;
            }
        }
    }

    /* REGULAR SLIDER STYLES */
    .regular-slider-container {
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0 25px;
    }

    .regular-slider {
        min-height: 375px;

        &.__home {
            .slick-current {
                .post-slider-title {
                    display: none;
                }
            }
        }

        .slick-dots {
            align-items: center;
            justify-content: center;
            bottom: inherit;
            top: inherit;
            bottom: 0px;
            margin: 0 auto;

            li {
                margin: 0 5px;
            }

            button {
                background: #CFCFCF;
            }

        }

        .slick-prev {
            top: inherit;
            bottom: -2px;
            transform: rotate(-90deg);
            left: 12vw;
            right: inherit;
            z-index: 5;
        }

        .slick-next {
            z-index: 5;
            top: inherit;
            right: 12vw;
            transform: rotate(90deg);
            bottom: -2px;
        }

        .slick-track {
            padding: 0px 0 30px;
        }

        .h4-header {
            margin-bottom: 7px;
        }

        .regular-text-sm {
            margin-bottom: 7px;
        }

        .img-slider-wrap {
            margin-bottom: 7px;
        }



        .slick-slide {
            max-width: 300px;
            margin: 0px;
            padding: 0px;
            z-index: 7;
            @include tr-05;
            position: relative;
            padding-top: 33px;

            .bottom-slide-info {
                display: none;
                padding-bottom: 18px;
                padding-top: 13px;

            }

            .post-slider-title {
                display: none;

            }


            &.slick-current {
                z-index: 10;
                margin: 0 auto;
                padding: 0px;
                @include tr-05;

                .bottom-slide-info {
                    display: block;

                    .regular-text-sm {
                        max-height: 41px;
                        overflow: hidden;
                        margin-bottom: 5px;
                        text-align: left;
                    }
                }
            }
        }

        .slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
            padding: 0px;
        }
    }


    .section-describe-box {
        padding: 209px 0 80px;
        background: url('../img/descr_box_bg_mobile.png') left 530px no-repeat;

        .describe-box-img {
            max-width: 86px;
            margin-bottom: 15px;
        }

        &::before {
            max-width: 154px;
            max-height: 154px;
            right: -40px;
            transform: rotate(-7deg);
            top: 200px;
        }

        &::after {
            background: url('../img/bg_1_mobile.png') center center no-repeat;
            height: 176px;
            background-size: contain;
            transform: scale(1, 1);
            top: -85px;
        }

        .describe-box-flex {
            flex-direction: column;

            .left-flex-col {
                margin-bottom: 20px;

                img {
                    max-width: 280px;
                }
            }
        }
    }

    .describe-box-list {
        .describe-box-list__item {
            padding: 20px 30px 15px 100px;

            &:nth-child(1) {
                .describe-box-list__img {
                    max-width: 107px;
                    top: -6px;
                    left: -20px;

                }
            }

            &:nth-child(2) {
                .describe-box-list__img {
                    max-width: 105px;
                    top: 12px;
                    left: -10px;

                }
            }

            &:nth-child(3) {
                .describe-box-list__img {
                    max-width: 100px;
                    top: 12px;
                    left: -10px;

                }
            }

            &:nth-child(4) {
                .describe-box-list__img {
                    max-width: 110px;
                    top: 0px;
                    left: -10px;

                }
            }
        }
    }

    .section-testimonials {
        padding: 122px 0 167px;
        background: url('../img/hot_it_bg_mobile.png') center center no-repeat;
        background-size: 100% 100%;
        position: relative;
        margin-bottom: 0px;

        &.__without-bg {
            background: url('../img/about_testimonials_bg_mob.png') left 59% no-repeat;
            padding-bottom: 100px;

            .elem-17-img {
                margin: 0 auto 20px;
                max-width: 170px;
            }

            &::before {
                display: none;
            }

            .testimonials-flex-row {
                .regular-text {
                    margin-bottom: 30px;
                }

                .left-flex-col,
                .right-flex-col {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 0px;
                }

                .left-flex-col {
                    margin-bottom: 203px;
                }
            }
        }

        &::before {
            content: '';
            background: url('../img/london_elem.png') center center no-repeat;
            width: 98px;
            height: 98px;
            display: block;
            position: absolute;
            right: 25px;
            top: 0px;
        }
    }

    .testimonials-flex-row {
        flex-direction: column;

        .left-flex-col {
            margin-bottom: 113px;

            .regular-text {
                text-align: center;
                margin-bottom: 30px;
            }

            img {
                margin-bottom: 30px;
            }

            .h2-header {
                margin-bottom: 2px;
            }
        }

        .h2-header {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .testimonials-slider {
        max-width: 100%;

        .slick-prev,
        .slick-next {
            top: inherit;
            bottom: -42px;
            z-index: 100;
        }

        .slick-prev {
            left: 10px;
            right: inherit;
            transform: rotate(-90deg);
        }

        .slick-next {
            right: inherit;
            left: 150px;
            transform: rotate(90deg)
        }

        .slick-dots {
            flex-direction: row;
            max-width: 100%;
            top: inherit;
            transform: translate(0);
            bottom: -40px;
            right: -50px;

            li {
                margin: 0 5px;
            }
        }
    }

    .testimonials-container {
        padding: 13px;

        .border-block.__second {
            padding: 20px 15px 70px;
        }
    }

    .main.about-us-main {
        .section-our-story {
            margin-top: 100px;
            padding-bottom: 72px;

            &::before {
                background: url('../img/bg_1-2_mobile.png') center center no-repeat;
                max-height: 130px;
                -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                transform: scale(1, 1);
                top: -165px;
                background-size: cover;
            }

            &::after {
                top: -60px;
            }
        }
    }

    .section-aboutus-content {
        padding-bottom: 459px;
    }

    .about-elem-img {
        max-width: 260px;
        pointer-events: none;

        &.about-elem-1 {
            left: inherit;
            right: -30px;
            top: 380px;
            z-index: 6;
        }
    }

    .before-wrap-2,
    .before-wrap-3 {
        pointer-events: none;
        max-width: 280px;
        max-height: 280px;
    }

    .before-wrap-3 {
        top: 320px;
        left: -30px;
        z-index: 8;

        &::before {
            width: 90px;
            height: 80px;
            right: 5px;
        }
    }

    .before-wrap-2 {
        left: 50%;
        top: 35%;
        transform: translate(-50%, 0);

        &::before {
            width: 90px;
            height: 80px;
        }
    }

    .promise-block {
        &.__first {
            margin: 0 auto 655px;
        }
    }

    .section-aboutus-content .elem-16-img {
        bottom: -30px;
    }

    .section-our-story {
        padding: 0 0 94px;
        background: url('../img/compas_img_3_mob.png') right 65% no-repeat;

        .compas-img {
            display: none;
        }

        &::after {
            background: url('../img/elem_8_mob.png') center center no-repeat;
            width: 170px;
            height: 93px;
            top: -90px;
            left: 15px;
        }

        .bg-navbar {
            flex-direction: column;
            background: url('../img/navbar_bg_mobile.png') center center no-repeat;
        }

        .left-flex-col {
            padding-right: 0px;
            margin-bottom: 130px;

            .h2-header {
                margin-bottom: 8px;
            }


            .regular-text {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .right-flex-col {
            padding: 0px;
        }

        .fly-ace-img {
            max-width: 184px;
            transform: translate(0, 40px);
        }
    }

    .section-home-slider {
        background: url('../img/india_bg_mob.png') center center no-repeat;

        .flex-block {
            flex-direction: column;

            .l-col,
            .r-col {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .l-col {
                order: 2;
                text-align: center;

                .h2-header {
                    margin-bottom: 10px;
                }
            }

            .social-contact-list {
                justify-content: center;
                margin-bottom: 117px;
            }

            .r-col {
                img {
                    max-width: 132px;
                    margin: 0 auto 22px;
                }
            }
        }
    }

    #toTop {
        bottom: 40px;
        right: 40px;
    }

    .footer {
        background: url('../img/footer_bg_mob.png') center center no-repeat;
        background-size: cover;
        padding: 121px 0 20px;

        .h3-header {
            text-align: center;
        }

        .join-btn {
            margin-right: 10px;
        }

        .footer-list__item {
            text-align: center;
        }

        .footer-list {
            margin-right: 50px;
            text-align: center;

            &:last-of-type {
                margin-right: 0px;
            }
        }
    }

    .footer-flex-row {
        flex-direction: column;
        align-items: center;

        .footer-col {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .footer-col:nth-child(1) {
            order: 2;

            .flex-block {
                margin-bottom: 43px;
            }
        }

        .footer-col:nth-child(2) {
            order: 1;

            img {
                margin-bottom: 23px;
            }
        }

        .footer-col:nth-child(3) {
            order: 3;
        }
    }

    /* ACCOUNT PAGE STYLES */

    .hidden-xs.nav-tabs {
        display: none;
    }

    .section-account-content {
        padding: 90px 0 65px;
        background: #fff url('../img/account_bg_mobile.png') left 45% no-repeat;
    }

    .account-tab-content .account-flex-container .regular-input {
        margin-bottom: 15px;
    }

    .account-tab-content {
        .desktop-col-block {
            .account-header-span {
                text-align: center;
            }

            .gender-flex-block {
                justify-content: center;
            }
        }

        .sbscr-flex-row {
            flex-direction: column;
        }

        .sbscr-flex-col,
        .sbscr-flex-col-2 {
            flex: 0 0 100%;
            padding: 0px;
            max-width: 100%;
            margin-bottom: 25px;
        }

        .payment-method-block {
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0px;

            }
        }

        .account-label {
            font-size: 14px;
        }

        .payment-flex-row {
            flex-wrap: wrap;
            justify-content: space-between;

            .regular-input {
                margin: 0px;
                margin-bottom: 15px;

                &:nth-child(2),
                &:nth-child(3) {
                    flex: 0 0 calc(50% - 10px);
                    max-width: calc(50% - 10px);
                }

            }
        }
    }

    .select-wrap {
        display: block;
        margin-bottom: 40px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #00BBB3;
        box-shadow: 0 2px 8px 0 rgba(0, 17, 47, 0.10);
        border-radius: 35.5px;
        cursor: pointer;
        position: relative;
        background: url('../img/dog_icon.svg') 28px center no-repeat;

        &::before {
            content: '';
            background: url('../img/select_arrow.svg') center center no-repeat;
            width: 14px;
            height: 9px;
            transform: translate(0, -50%);
            top: 50%;
            right: 30px;
            display: block;
            position: absolute;
        }

        .form-control {
            font-family: 'Arista-Regular';
            font-size: 20px;
            color: #1A3245;
            letter-spacing: 0;
            padding: 17px 66px;

            &:focus {
                outline: none;
            }

            option {
                font-family: 'Arista-Regular';
                font-size: 20px;
                color: #1A3245;
                letter-spacing: 0;
            }
        }
    }

}


/* ACCOUNT PAYMENT STAGE */

.account-tab-content {
    .account-flex-container.payment-flex-container {
        max-width: 760px;

        .add-card-link {
            max-width: 236px;
            margin: 0 auto;
        }
    }
}

.save-card-row {
    margin-bottom: 33px;

    .save-card-img {
        flex-shrink: 0;
        max-width: 50px;
        margin-right: 15px;
    }

    .svcard-second-col {
        flex-shrink: 0px;
        margin-right: 15px;
    }

    .svcard-span-1 {
        opacity: 0.7;
        font-family: TofinoNarrow-Regular;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
    }

    .svcard-span-2 {
        font-family: TofinoNarrow-Regular;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
    }

    .save-card-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .save-card-container {
        padding: 30px 40px;
        background: #FFFFFF;
        border-radius: 54px;
        position: relative;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;

        &.checked-card {
            box-shadow: 0 0 4px #00BBB3 inset;

            &::before {
                content: '';
                background: #00BBB3 url('../img/checked-card-icon.svg') center center no-repeat;
                width: 28px;
                height: 28px;
                position: absolute;
                top: -14px;
                right: 28px;
                display: block;
                border-radius: 50%;

            }
        }
    }


}

.delete-card-link {
    width: 15px;
    height: 17px;
    background: url('../img/delete-card-icon.svg') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}