.btn {
    background: $mainColor;
    display: block;
    @include tr-03;

    &:hover {
        background: #17D0C8;
        box-shadow: 0 20px 40px -12px rgba(0, 187, 180, 0.45);
        @include tr-03;
    }

    &.btn-inactive {
        background: #E2E2E2 !important;
        color: #FFFFFF !important;
    }
}

.btn-alt {
    background: $altColor;
    box-shadow: 0px 0px 50px rgba(0, 17, 47, 0.0989674);
    display: block;
    @include tr-03;

    &:hover {
        @include tr-03;
        box-shadow: 0 4px 27px -12px rgba(0, 157, 150, 0.54);
    }

    &.btn-inactive {
        background: #E2E2E2 !important;
        color: #FFFFFF !important;
    }
}


.login-btn,
.register-btn {
    font-style: normal;
    font-weight: normal;
    font-family: 'TofinoNarrow-Regular';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 25px;
}

.login-btn {
    border-radius: 22px 0 0 22px;
    color: #3D3D3D;
}

.register-btn {
    color: $altColor;
    border-radius: 0 22px 22px 0;
}

.join-btn,
.gift-btn {
    font-family: 'TofinoNarrow-Semibold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $altColor;
    padding: 19px 46px;
    border-radius: 34px;
}

.join-btn {
    box-shadow: 0px 20px 40px rgba(0, 187, 180, 0.35);
    max-width: 229px;
    text-align: center;
}

.gift-btn {
    color: $mainColor;
    box-shadow: 0px 4px 27px rgba(0, 157, 150, 0.435561);
}

.learn-more-btn {
    font-family: 'TofinoNarrow-Semibold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $altColor;
    padding: 19px 67px;
    border-radius: 34px;
    color: $mainColor;
    box-shadow: 0px 4px 27px rgba(0, 157, 150, 0.435561);
}

.btn-2,
.btn-alt-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: 'TofinoNarrow-Semibold';
    border-radius: 34px;
    display: block;
    width: 100%;
    padding: 19px 30px;
    text-align: center;
}

.btn-2 {
    color: $altColor;
    background: $mainColor;
    box-shadow: 0px 20px 40px rgba(0, 187, 180, 0.35);
    @include tr-03;

    &:hover {
        background: #17D0C8;
        box-shadow: 0 20px 40px -12px rgba(0, 187, 180, 0.45);
        @include tr-03;
    }

    &.btn-inactive {
        background: #E2E2E2 !important;
        color: #FFFFFF !important;
    }
}

.btn-alt-2 {
    color: $mainColor;
    background: $altColor;
    box-shadow: 0px 4px 27px rgba(0, 157, 150, 0.435561);
    @include tr-03;

    &:hover {
        @include tr-03;
        box-shadow: 0 4px 27px -12px rgba(0, 157, 150, 0.54);
        color: #17D0C8;
    }

    &.btn-inactive {
        background: #E2E2E2 !important;
        color: #FFFFFF !important;
    }
}

.step-submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 199px;
    border-radius: 0px 34px 34px 0px;
}

.key-btn {
    cursor: pointer;
    font-family: 'TofinoNarrow-Semibold';
    font-size: 25px;
    color: $mainColor;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-left: 31px;
    background: url('../img/key_icon.svg') left center no-repeat;
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 20;
}