/* GLOBAL CORE STYLES FOR PROJECT -------------
----------------------------------------------*/
a img {
    border: none;
}

button {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        outline: none;
        box-shadow: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.flex-block {
    display: flex;

    &.desktop-block {
        display: flex;
    }

    &.al-it-center {
        align-items: center;
    }

    &.js-between {
        justify-content: space-between;
    }

    &.js-center {
        justify-content: center;
    }
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade:not(.show) {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.fade {
    transition: opacity .2s linear;
}