@font-face {
    font-family: 'Arista-Regular';
    src: url('../fonts/Arista/Regular/Arista2.0.eot');
    src: local('☺'),
        url('../fonts/Arista/Regular/Arista2.0.woff') format('woff'),
        url('../fonts/Arista/Regular/Arista2.0.ttf') format('truetype'),
        url('../fonts/Arista/Regular/Arista2.0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TofinoNarrow-Regular';
    src: url('../fonts/Tofino_Narrow/Regular/TofinoNarrow-Regular.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/Regular/TofinoNarrow-Regular.woff') format('woff'),
        url('../fonts/Tofino_Narrow/Regular/TofinoNarrow-Regular.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/Regular/TofinoNarrow-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TofinoNarrow-Semibold';
    src: url('../fonts/Tofino_Narrow/SemiBold/TofinoNarrow-Semibold.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/SemiBold/TofinoNarrow-Semibold.woff') format('woff'),
        url('../fonts/Tofino_Narrow/SemiBold/TofinoNarrow-Semibold.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/SemiBold/TofinoNarrow-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TofinoNarrow-Book';
    src: url('../fonts/Tofino_Narrow/Book/TofinoNarrow-Book.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/Book/TofinoNarrow-Book.woff') format('woff'),
        url('../fonts/Tofino_Narrow/Book/TofinoNarrow-Book.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/Book/TofinoNarrow-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TofinoNarrow-BookItalic';
    src: url('../fonts/Tofino_Narrow/BookItalic/TofinoNarrow-BookItalic.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/BookItalic/TofinoNarrow-BookItalic.woff') format('woff'),
        url('../fonts/Tofino_Narrow/BookItalic/TofinoNarrow-BookItalic.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/BookItalic/TofinoNarrow-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TofinoNarrow-Medium';
    src: url('../fonts/Tofino_Narrow/Medium/TofinoNarrow-Medium.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/Medium/TofinoNarrow-Medium.woff') format('woff'),
        url('../fonts/Tofino_Narrow/Medium/TofinoNarrow-Medium.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/Medium/TofinoNarrow-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Generated by FG **/
@font-face {
    font-family: 'TofinoNarrow-Bold';
    src: url('../fonts/Tofino_Narrow/Bold/TofinoNarrow-Bold.eot');
    src: local('☺'),
        url('../fonts/Tofino_Narrow/Bold/TofinoNarrow-Bold.woff') format('woff'),
        url('../fonts/Tofino_Narrow/Bold/TofinoNarrow-Bold.ttf') format('truetype'),
        url('../fonts/Tofino_Narrow/Bold/TofinoNarrow-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Festus';
    font-style: normal;
    font-weight: 400;
    src: local('Festus'),
        local('Festus-Regular'),
        url('../fonts/Festus/festus.woff') format('woff'),
        url('../fonts/Festus/festus.ttf') format('truetype')
}