.step-form-container {
    margin-bottom: 100px;

    &.mg-b-300 {
        margin-bottom: 300px;
    }

    .main-logo {
        display: block;
        max-width: 206px;
        margin: 0 auto;
    }

    .have-account-block {
        text-align: center;
        @include tr-03;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0px;
        }

        .regular-text {
            font-size: 16px;
            margin-right: 10px;
        }
    }
}

.form-step {
    background: url('../img/step-form_bg.png') center center no-repeat;
    width: 100%;
    min-height: 671px;
    position: relative;
    margin: 19px auto 0;
}

.multi-step-form {
    .remove-block {
        position: absolute;
        opacity: 0;
        z-index: -1;
        @include tr-02;
    }

    .control-buttons-row {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 250px;
        z-index: 30;
        max-width: 860px;
        width: 100%;
    }

    .step-submit-btn {
        &.__second {
            position: inherit;
            border-radius: 30px;
            max-width: 199px;
            margin: 0 auto;
        }
    }

    .regular-input {
        width: 100%;
    }

    .field-block {
        max-width: 602px;
        position: relative;
        width: 100%;

        &.__second {
            display: flex;
            max-width: 418px;

            .btn-alt-2 {
                margin-right: 10px;
            }

            .btn-2 {
                margin-left: 10px;
            }
        }

        &.__third {
            display: flex;
            flex-wrap: wrap;
            max-width: 540px;

            .regular-input {
                margin-bottom: 27px;

                &.__half {
                    max-width: calc(50% - 10px);
                    flex: 0 0 calc(50% - 10px);
                    margin-right: 10px;
                    margin-bottom: 17px;
                }

                &.__half-2 {
                    max-width: calc(50% - 10px);
                    flex: 0 0 calc(50% - 10px);
                    margin-left: 10px;
                    margin-bottom: 17px;
                }
            }

            .step-submit-btn {
                position: inherit;
                border-radius: 30px;
                max-width: 199px;
                margin: 0 auto;
            }
        }

        &.__fourth {
            display: flex;
            flex-wrap: wrap;
            max-width: 850px;

            .regular-input {
                margin-bottom: 27px;

                &.mg-17 {
                    margin-bottom: 17px;
                }
            }

            .step-submit-btn {
                position: inherit;
                border-radius: 30px;
                max-width: 199px;
                margin: 0 auto;
            }

            .save-data-block {
                @include tr-02;
            }

            .row {
                @include tr-02;
            }
        }

        &.__subscribe-field {
            max-width: 780px;
            margin-bottom: 25px;

            .container {
                padding: 0 10px;
            }

            .row {
                margin: 0 -10px;
            }

            .col-sm-3 {
                padding: 0 10px;
            }
        }

        &.__payment-method {
            max-width: 820px;
        }

    }

    .save-data-block {
        display: flex;
        justify-content: center;
        margin-bottom: 13px;
        width: 100%;

        .save-data-checkbox {
            position: absolute;
            opacity: 0;
            z-index: -1;

        }


        .regular-text-sm {
            position: relative;
            padding-left: 34px;
            cursor: pointer;

            &::after {
                content: '';
                border: 2px solid #00BBB3;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 3px;
                position: absolute;
                left: 0;
                top: -webkit-calc(50% - 12px);
                top: calc(50% - 12px);
                display: block;
                width: 20px;
                height: 20px;
            }

            &::before {
                content: '';
                display: none;
                position: absolute;
                left: 4.9px;
                top: 6px;
                border-bottom: 2.25px solid #00BBB3;
                border-left: 2.25px solid #00BBB3;
                width: 10px;
                height: 6px;
                -webkit-transform: rotate(-50deg);
                -ms-transform: rotate(-50deg);
                transform: rotate(-50deg);
                border-radius: 1px;
            }
        }

        .save-data-checkbox[type=checkbox]:checked+.regular-text-sm::before {
            display: block;
        }


    }

    .h3-header {
        margin-bottom: 2px;
    }

    .regular-text {
        font-size: 18px;
        margin-bottom: 23px;
    }

    .elem-7-img {
        max-width: 112px;
        margin-bottom: 6px;
    }

    .elem-13-img {
        max-width: 205px;
        margin-bottom: 7px;
    }

    .elem-14-img {
        margin-bottom: 21px;
    }

    .elem-6-img {
        max-width: 248px;
        margin-bottom: 27px;
    }

    .date-input {
        max-width: 70%;
        border-radius: 35.5px 0 0 35.5px;
        padding: 18px 40px;
    }

    .back-main-link {
        padding-left: 30px;
        background: url('../img/back_main_icon.svg') 4px center no-repeat;
        @include tr-03;

        &:hover {
            background: url('../img/back_main_icon.svg') left center no-repeat;
            @include tr-03;
        }
    }

    .payment-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .payment-item {
            margin-right: 50px;
            padding-left: 30px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 16px;
                height: 16px;
                border: 1px solid #999999;
                border-radius: 50%;
                @include tr-02;
            }

            &::after {
                content: '';
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translate(0, -50%);
                width: 10px;
                height: 10px;
                background: $mainColor;
                border-radius: 50%;
                display: block;
                opacity: 0;
                pointer-events: none;
                @include tr-02;
            }

            &.active {
                &::before {
                    border-color: $mainColor;
                    @include tr-02;
                }

                &::after {
                    opacity: 1;
                    @include tr-02;
                }
            }
        }

        &:last-of-type {
            margin-right: 0px;
        }


    }

    .payment-tab-content {
        margin-bottom: 41px;
        max-width: 820px;

        .tab-pane {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .card-number-input {
            max-width: 48.7%;
            flex: 0 0 48.7%;
        }

        .card-date-input {
            max-width: 22%;
            flex: 0 0 22%;
        }

        .card-cvv-input {
            max-width: 24.3%;
            flex: 0 0 24.3%;
        }
    }

    .form-step {
        &.step-select-subscribe {
            padding-top: 225px;

            .h3-header {
                margin-bottom: 20px;
            }
        }

        &.step-pups-name {
            padding-top: 225px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.step-pups-bd {
            padding-top: 190px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.step-travel-pup {
            padding-top: 190px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.step-select-country {
            padding-top: 192px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.step-your-info {
            padding-top: 192px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.step-ship-adress {
            padding-top: 193px;

            .h3-header {
                margin-bottom: 20px;
            }
        }

        &.step-select-payment {
            padding-top: 182px;

            .h3-header {
                margin-bottom: 35px;
            }
        }

        &.step-billing-adress {
            padding-top: 173px;

            .h3-header {
                margin-bottom: 12px;
            }
        }

        &.step-finish-step {
            padding-top: 193px;

            .h3-header {
                margin-bottom: 17px;
            }
        }

        &.step-enter-gift {
            padding-top: 180px;

            .h3-header {
                margin-bottom: 16px;
            }
        }

        &.__special-message-step {
            padding: 206px 0 170px;
            background: url('../img/step-form_bg-2.png') center center no-repeat;
            background-size: 100% 100%;

            .special-message-textarea {
                resize: none;
                min-height: 140px;
                margin-bottom: 0px;
            }

            .h3-header {
                margin-bottom: 28px;
            }

            .elem-18-img {
                margin-bottom: 42px;
            }

            .h4-header {
                margin-bottom: 16px;
                padding-left: 40px;
            }

            .container-block {
                width: 100%;
                max-width: 820px;
            }

            .regular-input {
                margin-bottom: 20px;
            }

            .block-order-2 {
                .flex-block {
                    display: none;
                }
            }

            .flex-block {
                align-items: center;
                justify-content: center;
            }

            .btn-2 {
                max-width: 199px;
                margin-right: 30px;
            }
        }
    }
}

.subscribe-steps-form,
.use-gift-form {

    .form-step {
        padding-top: 180px;
    }
}

.same-address-block {
    text-align: center;
    margin-bottom: 13px;

    .same-address-checkbox {
        position: absolute;
        z-index: -2;
        opacity: 0;
    }

    label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -55%);
            width: 16px;
            height: 16px;
            border: 1px solid #999999;
            border-radius: 50%;
            @include tr-02;
        }

        &::after {
            content: '';
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translate(0, -56.5%);
            width: 10px;
            height: 10px;
            background: $mainColor;
            border-radius: 50%;
            display: block;
            opacity: 0;
            pointer-events: none;
            @include tr-02;
        }
    }

    .same-address-checkbox[type=checkbox]:checked+label {
        &::before {
            border-color: $mainColor;
            @include tr-02;
        }

        &::after {
            opacity: 1;
            @include tr-02;
        }
    }
}

.subscribe-package-bottom-info {
    padding: 4px;
    border: 1px solid $borderColor;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -640px;
    max-width: 940px;
    width: 100%;
    margin-bottom: 250px;

    .bottom-info-border {
        padding: 26px 90px 31px 97px;
        border: 1px solid $borderColor;
        display: flex;
        align-items: center;
    }

    .elem-15-img {
        margin-right: 30px;
    }

    .bottom-info-block__right-col {
        .regular-text-sm {
            margin-bottom: 10px;
            display: block;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }

}

.subscribe-package-block {
    background: url('../img/subscribe_bg-1.png') center center no-repeat;
    background-size: contain;
    height: 120px;

    .h4-header {
        line-height: 21px;
    }

    &.__bg-2 {
        background: url('../img/subscribe_bg-2.png') center center no-repeat;
        background-size: contain;
    }

    &.__bg-3 {
        background: url('../img/subscribe_bg-3.png') center center no-repeat;
        background-size: contain;
    }

    &.__bg-4 {
        background: url('../img/subscribe_bg-4.png') center center no-repeat;
        background-size: contain;
    }

    .h4-header {
        font-size: 18px;
    }

    .subscribe-package-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .subscribe-package-radio[type=radio]:checked+.subscribe-package-label {
        &::before {
            opacity: 1;
            @include tr-02;
        }

        &::after {
            opacity: 1;
            @include tr-02;
        }
    }

    .subscribe-package-label {
        display: block;
        position: relative;
        padding: 17px 5px 0px 22px;
        cursor: pointer;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            left: 8px;
            top: 8px;
            right: 8px;
            bottom: 8px;
            border: 3px solid $mainColor;
            opacity: 0;
            pointer-events: none;
            display: block;
            @include tr-02;
        }

        &::after {
            content: '';
            position: absolute;
            right: 17.5px;
            top: -2px;
            background: url('../img/package_chekced_icon.svg') center center no-repeat;
            background-size: contain;
            width: 28px;
            height: 28px;
            display: block;
            opacity: 0;
            pointer-events: none;
            @include tr-02;
        }
    }
}

/* Mark input boxes that get errors during validation: */
input.invalid {
    background-color: #ffcece;
}

/* Hide all steps by default: */
.form-step {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-step-btn {
    display: block;
    width: 20px;
    height: 15px;
    background: url('../img/form-step-arrow.svg') center center no-repeat;
    background-size: contain;
    @include tr-03;

    &#prevBtn {
        transform: scale(-1, 1);
    }

    &#nextBtn {
        z-index: -5 !important;
        pointer-events: none !important;
        opacity: 0 !important;
    }
}

.elem-11-img {
    margin-bottom: 11px;
}

/* Step marker: Place in the form. */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

.subscribe-mob-slider {
    display: flex;

    .subscribe-slider-wrap {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width:768px) {
    .form-main-container {
        padding: 0px;

        .main-logo {
            max-width: 152px;
            margin-top: 6px;
        }
    }

    .form-step {
        margin: 0 auto;
        min-height: 511px;
    }

    .multi-step-form {
        position: relative;

        .save-data-block {
            margin-bottom: 20px;
            margin-top: 5px;
        }

        .field-block {
            &.__third {
                .regular-input {

                    &.__half,
                    &.__half-2 {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin: 0px;
                        margin-bottom: 15px;
                    }
                }
            }

            &.__fourth {
                .regular-input {
                    margin-bottom: 15px;

                    &.mg-17 {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .payment-tabs {
            .payment-item {
                margin-right: 25px;
                padding-left: 30px;

                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }

        .payment-tab-content {
            .tab-pane {
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .card-number-input {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 15px;
            }

            .card-date-input,
            .card-cvv-input {
                flex: 0 0 calc(50% - 5px);
                max-width: calc(50% - 5px);
            }
        }


        .elem-6-img {
            max-width: 165px;
        }

        .field-block {
            padding: 0 15px;
        }

        .elem-12-img {
            max-width: 83px;
        }

        .elem-7-img {
            max-width: 80px;
        }

        .elem-13-img {
            max-width: 145px;
        }


        .elem-14-img {
            max-width: 347px;
            margin: 0 auto 17px;
        }

        .control-buttons-row {
            top: 80px;
            padding: 0 40px;
        }

        .form-step {
            padding-top: 100px;
            background: url('../img/mob-form-bg/bg_1.png') center top no-repeat;

            &.step-pups-name {
                padding-top: 140px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            &.step-pups-bd {
                padding-top: 135px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            &.step-travel-pup {
                padding-top: 130px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            &.step-select-country {
                padding-top: 130px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }


            }

            &.step-select-subscribe {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_2.png') center top no-repeat;
                min-height: 545px;
                margin-bottom: 65vh;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .field-block {
                    padding: 0px;
                }
            }

            &.step-your-info {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_3.png') center top no-repeat;
                min-height: 601px;

                &.h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .step-submit-btn {
                    right: inherit;
                }
            }

            &.step-ship-adress {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_4.png') center top no-repeat;
                min-height: 791px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .step-submit-btn {
                    right: inherit;
                }
            }

            &.step-select-payment {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_5.png') center top no-repeat;
                min-height: 621px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            &.step-billing-adress {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_6.png') center top no-repeat;
                min-height: 834px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .step-submit-btn {
                    right: inherit;
                }
            }

            &.step-finish-step {
                padding-top: 130px;

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            &.__special-message-step {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_7.png') center top no-repeat;
                min-height: 1026px;

                .elem-18-img {
                    max-width: 70px;
                    margin: 0 auto 8px;
                }

                .h3-header {
                    margin-bottom: 25px;
                    text-align: center;
                    max-width: 270px;
                }

                .container-block {
                    margin: 0 auto;
                    padding: 0 15px;

                }

                .block-order-2 {
                    order: 2;

                    .flex-block {
                        display: flex;

                        .btn-2 {
                            margin-right: 0px;
                        }
                    }
                }

                .block-order-1 {
                    order: 1;
                    margin-bottom: 5px;

                    .flex-block {
                        display: none;
                    }
                }

                .h4-header {
                    padding-left: 40px;
                    margin-bottom: 16px;
                }
            }

            &.step-enter-gift {
                padding-top: 130px;
                background: url('../img/mob-form-bg/bg_2.png') center top no-repeat;
                min-height: 545px;

                .elem-11-img {
                    max-width: 80px;
                    margin: 0 auto 20px;
                }

                .h3-header {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }
        }

    }

    .step-submit-btn {
        max-width: 130px;
        padding: 19px 30px;
        right: 15px;
    }



    .subscribe-package-bottom-info {
        bottom: -640px;
        width: calc(100% - 30px);
        left: 50%;

        transform: translate(-50%, 0);

        .bottom-info-border {
            display: flex;
            flex-direction: column;
            padding: 30px 24px 40px;

            .elem-15-img {
                max-width: 85px;
                margin: 0 auto 20px;
            }
        }
    }

    .subscribe-mob-slider {
        display: block;

        .slick-slide {
            padding: 0 5px;
            min-width: 175px !important;
        }

        .subscribe-slider-wrap {
            width: 100%;
            max-width: 100%;
        }
    }

    .subscribe-package-block .subscribe-package-label {
        max-width: 175px;
    }

    .subscribe-package-bottom-info .bottom-info-block__right-col .regular-text-sm {
        text-align: center;
    }

    .multi-step-form .step-submit-btn.__second {
        right: inherit;
    }

}