.map-lines-bg {
    background: url('../img/map_lines_bg.png') center center no-repeat;
    background-size: cover;
    height: 807px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.map-container {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background: url('../img/elem_9.png') center center no-repeat;
        width: 126px;
        height: 126px;
        background-size: contain;
        right: 295px;
        bottom: 50px;
        z-index: 10;
    }

    .svg-map-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 100%;
        max-width: 1112px;
    }

    .map-part {
        fill: #F3F0E8;
        @include tr-03;
        stroke: #63442E;
        stroke-width: 0.33;

        &:hover {
            fill: $mainColor;
            cursor: pointer;
            @include tr-03;
        }
    }
}

#map-past {
    .map-container {
        .map-part {
            fill: #F3F0E8;

            &:hover {
                fill: #F3F0E8;
                cursor: inherit;
            }
        }
    }

}

.past-page-map {
    .map-container {
        .map-part {
            fill: #F3F0E8;

            &:hover {
                fill: #F3F0E8;
                cursor: inherit;
            }
        }
    }
}


.map-img {
    margin: 0 auto;
}