.close-modal-btn {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/close_icon.svg') center center no-repeat;
    opacity: .5;
    @include tr-03;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
}

.close-modal-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.close-modal-btn:not(:disabled):not(.disabled):hover,
.close-modal-btn:not(:disabled):not(.disabled):focus {
    opacity: 1;
    @include tr-03;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none;
    }
}

.modal.show .modal-dialog {
    transform: translate(0, 0);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: -webkit-calc(100% - (0.5rem * 2));
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
    display: block;
    height: -webkit-calc(100vh - (0.5rem * 2));
    height: calc(100vh - (0.5rem * 2));
    content: "";
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.95;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}



/* REGISTER MODAL */

.register-flex-content {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    margin: 0 auto;

    .regular-input {
        margin-bottom: 16px;
    }
}

.register-modal {
    .modal-content {
        background: #FFFFFF url('../img/register_bg.png') center center no-repeat;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 67px 70px;
    }

    .password-field {
        margin-bottom: 16px;
    }

    .modal-dialog {
        min-width: 688px;
        margin: 100px auto;
    }

    .modal-header {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: center;

        .h3-header {
            margin-right: 17px;
        }

        .flex-block {
            align-items: center;
        }

    }

    .register-modal-logo {
        max-width: 199px;
    }

    .nav-tabs-register {
        display: flex;
        margin-bottom: 5px;
    }

    .terms-checkbox-block {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

    }

    .register-item {
        background: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(0, 17, 47, 0.0989674);
        text-transform: uppercase;
        color: $mainColor;
        @include tr-03;

        &.active {
            background: $mainColor;
            color: $altColor;
            @include tr-03;
        }
    }


    .agree-checkbox {
        opacity: 0;
        z-index: -1;
        position: absolute;
        pointer-events: none;
    }

    .agree-checkbox-label {
        padding-left: 34px;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            border: 2px solid #00BBB3;
            box-sizing: border-box;
            border-radius: 3px;
            position: absolute;
            left: 0;
            top: calc(50% - 10px);
            display: block;
            width: 20px;
            height: 20px;
        }

        &::before {
            content: '';
            display: none;
            position: absolute;
            left: 4.9px;
            top: 6px;
            border-bottom: 2.25px solid $mainColor;
            border-left: 2.25px solid $mainColor;
            width: 10px;
            height: 6px;
            transform: rotate(-50deg);
            border-radius: 1px;
        }
    }

    .agree-checkbox[type=checkbox]:checked+.agree-checkbox-label {
        &::before {
            display: block;
        }
    }

    .forgot-password-block {
        display: flex;

        .regular-text-sm {
            margin: 0px;
            margin-right: 12px;
        }
    }

    .modal-footer {
        padding-top: 30px;

        .regular-text-sm {
            text-align: center;
            position: relative;
            margin-bottom: 16px;

            &::before {
                content: '';
                display: block;
                width: 159px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                opacity: 0.2;
                border: 1px solid #63442E;
            }

            &::after {
                content: '';
                display: block;
                width: 159px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                opacity: 0.2;
                border: 1px solid #63442E;
            }
        }
    }

    .social-register-list {
        display: flex;
        justify-content: center;

        .list-item {
            margin-right: 30px;

            &:last-of-type {
                margin-right: 0px;
            }
        }

        .social-register-link {
            display: block;
            cursor: pointer;
            transition: .2s all linear;

            &:hover {
                transform: scale(1.05);
                transition: .2s all linear;
            }
        }

        .social-register-icon {
            display: block;
            width: 30px;
            height: 30px;

            &.google-icon {
                background: url("../img/google_icon.png") center center no-repeat;
                background-size: contain;
            }

            &.facebook-icon {
                width: 16px;
                background: url("../img/fb_icon.svg") center center no-repeat;
                background-size: contain;
            }
        }
    }
}

/* SUBSCRIBE MODAL */


.subscribe-modal {
    .modal-content {
        background: #FFFFFF url('../img/navbar_bg.png') center center no-repeat;
        background-size: contain;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 105px 208px 119px 84px;
        position: relative;

        &::before {
            content: '';
            display: block;
            background: url('../img/elem_4.png') center center no-repeat;
            width: 156px;
            height: 149px;
            background-size: contain;
            position: absolute;
            right: 90px;
            top: 40%;
            z-index: 0;
        }
    }


    .modal-dialog {
        min-width: 845px;
        margin: 100px auto;
    }

    .subscribe-modal-img {
        position: absolute;
        left: 100px;
        top: 120%;
    }

    .h4-header {
        margin-bottom: 19px;
        margin-left: 40px;
    }

    .subscribe-form {
        position: relative;

        .regular-input {
            padding-right: 50%;
        }
    }

    .subscribe-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 41%;
        max-width: 229px;
        border-radius: 0px 34px 34px 0px;

        &:hover {
            span {
                background: url('../img/right-arrow.svg') right center no-repeat;
                @include tr-05;
            }
        }

        span {
            @include tr-05;
            padding-right: 40px;
            background: url('../img/right-arrow.svg') 93% center no-repeat;
        }
    }
}


/* CONTACT US MODAL */


.contactus-modal {
    .mobile-btn {
        display: none;
    }

    .modal-content {
        background: #FFFFFF;
        background-size: contain;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 74px 73px;
        position: relative;
    }

    .modal-dialog {
        width: 90%;
        margin: 100px auto;
        max-width: 1240px;
    }

    .modal-flex-row {
        display: flex;
        width: 100%;
    }

    .modal-flex-col {
        flex-shrink: 0;
        padding-right: 50px;

        &:first-of-type {
            flex: 0 0 18%;
            max-width: 18%;
            width: 100%;
        }

        &:nth-child(2) {
            flex: 0 0 24%;
            max-width: 24%;
            width: 100%;
        }

        &:last-of-type {
            padding-right: 0px;
            flex: 0 0 58%;
            max-width: 58%;
            width: 100%;
        }
    }

    .regular-text-sm {
        margin-bottom: 20px;
    }

    .social-contact-list {
        .social-contact-list__item {
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0px;
            }
        }
    }

    .contactus-modal-form {
        display: flex;
        width: 100%;
    }

    .contactus-modal-form__left-col {
        padding-right: 15px;
        width: 100%;
        max-width: 45%;
        flex: 0 0 45%;
    }

    .contactus-modal-form__right-col {
        padding-left: 15px;
        width: 100%;
        max-width: 55%;
        flex: 0 0 55%;
    }

    .regular-input {
        margin-bottom: 20px;
    }

    .contactus-textfield {
        resize: none;
        margin-bottom: 0px;
        height: 100%;
        width: 100%;
    }
}


/* SELECT MAP MODAL */

.mapselect-modal {
    opacity: 0;
    z-index: -1;
    @include tr-03;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);

    &.active {
        z-index: 1001;
        opacity: 1;
        @include tr-03;
        pointer-events: all;
        transform: translate(-50%, -50%) scale(1);
    }

    .modal-content {
        background: #FFFFFF;
        background-size: contain;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 49px 136px;
        position: relative;
        text-align: center;
        overflow: hidden;

        &::before {
            content: '';
            background: url('../img/compas_img.png') center center no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 606px;
            height: 606px;
            background-size: contain;
            opacity: 0.4;
            pointer-events: none;
        }
    }

    .modal-dialog {
        width: 100%;
        margin: 100px auto;
        max-width: 758px;
    }

    .h4-header {
        margin-bottom: 30px;
    }

    .select-map-flex {
        max-width: 373px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .regular-input {
            margin-bottom: 18px;
        }
    }

    .btn-alt-2,
    .btn-2 {
        max-width: calc(50% - 7px);
    }
}


/* CANCEL SUBSCRIPTION MODAL */

.cancel-subscrb-modal {
    .modal-content {
        background: #FFFFFF url('../img/navbar_bg.png') center center no-repeat;
        background-size: contain;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 57px 77px;
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    .modal-dialog {
        margin: 100px auto;
        max-width: 640px;
    }

    .h4-header {
        margin-bottom: 26px;
    }

    .cancel-sbscr-row {
        max-width: 373px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .btn-alt-2,
    .btn-2 {
        max-width: calc(50% - 7px);
    }
}

/* VIDEO MODAL */
.videoopen-modal {
    .modal-content {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 30px 15px;
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    .modal-dialog {
        margin: 200px auto;
        max-width: 720px;
    }
}

@media screen and (max-width:768px) {
    .contactus-modal {
        .modal-content {
            padding: 70px 15px;
        }

        .modal-flex-row {
            flex-wrap: wrap;
        }

        .modal-body .modal-flex-col {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0px;

            &:first-child {
                flex: 0 0 45%;
                max-width: 45%;
                order: 2;
                margin-bottom: 36px;

                img {
                    margin-left: auto;
                }
            }

            &:nth-child(2) {
                flex: 0 0 55%;
                max-width: 55%;
                order: 1;
                margin-bottom: 36px;
            }

            &:nth-child(3) {
                order: 3;
            }
        }

        .contactus-modal-form {
            flex-direction: column;
        }

        .contactus-modal-form__left-col {
            .btn-2 {
                display: none;
            }
        }

        .contactus-modal-form__right-col {
            margin-bottom: 30px;
        }

        .contactus-modal-form__left-col,
        .contactus-modal-form__right-col {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0px;
        }

        .mobile-btn {
            display: block;
        }
    }

    .cancel-subscrb-modal .modal-content {
        padding: 50px 40px 40px;
    }

    .subscribe-modal {
        .modal-dialog {
            min-width: 1px;
            max-width: 90%;
        }

        .h4-header {
            margin: 0 auto 30px;
            text-align: center;
        }

        .modal-content {
            padding: 80px 15px;
            background: url('../img/navbar_bg_mobile.png') center center no-repeat;

            &::before {
                right: -50px;
                top: inherit;
                bottom: -80px;
            }
        }

        .subscribe-modal-img {
            max-width: 100%;
            left: 0;
            top: 140%;
        }
    }

    .close-modal-btn {
        right: 20px;
        top: 20px;
    }

    .register-modal {
        .register-modal-logo {
            max-width: 150px;
        }

        .modal-header {
            .flex-block {
                justify-content: space-between;
            }
        }

        .nav-tabs-register {
            margin-bottom: 26px;
        }

        .h3-header {
            margin-right: 7px;
        }

        .modal-dialog {
            min-width: 1px;
            margin: 50px auto;
        }

        .modal-content {
            padding: 66px 15px 105px;
            background: #ffffff url('../img/register_bg_mob.png') center center no-repeat;
            background-size: 100% auto;
        }

        .modal-footer {
            .regular-text-sm {

                &::before,
                &::after {
                    width: 18.5vw;
                }
            }


        }
    }

    .mapselect-modal {
        .modal-content {
            padding: 30px 40px;
        }
    }
}