.header-navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: column;
    flex-shrink: 0;
}

.navbar-toggler {
    cursor: pointer;
    position: relative;
    z-index: 1001;
    overflow: hidden;
    display: block;
    padding: 10px;

    .icon-bar {
        background: #1A3245;
        border-radius: 2px;
        width: 26px;
        height: 3px;
        margin-bottom: 5px;
        display: block;
        @include tr-03;

        &:nth-child(2) {
            width: 20px;
            margin-left: auto;
            opacity: 1;
        }

        &:last-of-type {
            margin-bottom: 0px;
        }

        &:nth-child(1) {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }

        &:nth-child(3) {
            transform: rotate(0);
            transform-origin: 0% 0%;
        }
    }

    &.open {
        .icon-bar {
            @include tr-03;
        }

        .icon-bar:nth-child(1) {
            transform: rotate(45deg);
            transform-origin: 2% 10%;
        }

        .icon-bar:nth-child(2) {
            opacity: 0;
        }

        .icon-bar:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
    }
}



.navbar-collapse {
    background: #fff;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    display: block;
    pointer-events: none;
    opacity: 0;
    @include tr-03;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -5;
    transform: translate(0, -20%);

    &.active {
        pointer-events: all;
        opacity: 1;
        @include tr-03;
        z-index: 1000;
        transform: translate(0, 0%);
    }

    &::before {
        content: '';
        background: url('../img/compas_img.png') center center no-repeat;
        position: absolute;
        left: -303px;
        top: calc(50% - 303px);
        display: block;
        width: 606px;
        height: 606px;
        background-size: contain;
    }

    &::after {
        content: '';
        background: url('../img/compas_img.png') center center no-repeat;
        position: absolute;
        right: -303px;
        top: calc(50% - 303px);
        display: block;
        width: 606px;
        height: 606px;
        background-size: contain;
    }


}

.navbar-container {
    background: url('../img/navbar_bg.png') center center no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 92px 133px 113px 133px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
}

.nav-item {
    margin-bottom: 19px;

    &:last-of-type {
        margin-bottom: 0px;
    }
}

.nav-link {
    font-family: 'Arista-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(26, 50, 69, 0.5);
    mix-blend-mode: normal;
    @include tr-03;

    &:hover {
        color: rgb(26, 50, 69);
        @include tr-03;
    }

    &.active {
        color: rgb(26, 50, 69);
        padding-left: 29px;
        background: url('../img/paw_icon.svg') left center no-repeat;
    }
}

.navbar-join-col {
    flex-shrink: 0;
    text-align: center;

    img {
        margin: 0 auto 20px;
    }

    .h3-header {
        margin-bottom: 20px;
        text-align: center;

    }
    .join-btn {
        margin-right: 20px;
    }
}